.icon .icon-home {
	color: black;
}

.wy-side-nav-search {
    background-color: #FFFFFF;
	border-right: 1px solid #e1e4e5;
}

.wy-side-nav-search > a, .wy-side-nav-search .wy-dropdown > a {
	color: black;
}

.wy-side-nav-search > div.version {
	color: black;
}

.icon .icon-home {
	color: black;
}